*{
  font-weight: bolder;
  font-size: 24px;
  margin: 0;
  
}
.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* header */
h2{
  font-size: 4rem;
}
.container{
  
  color: #61dafb;
  display: flex;
  justify-content:space-evenly;
  width: 100%;
  background: rgb(12,69,80);
  background: linear-gradient(90deg, rgba(12,69,80,1) 0%, rgba(9,9,121,1) 35%, rgba(0,0,0,1) 100%);
  /* padding: 1.4rem; */
}
/* Meme */
.form {
  display: flex;
  justify-content: space-evenly;
  background-color: #282c34;
  width: 100%;
  box-shadow: 0px 5px 5px #61dafb;
  border-top: #61dafb 2px solid;

}
.form2{
  display: flex;
  justify-content: space-evenly;
  background-color: #282c34;
  width: 100%;
  box-shadow: 0px 5px 5px #61dafb;
  border-top: #61dafb 2px solid;
  font-size: 18px;
  height: 33vh;
  flex-wrap: wrap;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  margin: 1rem;
  padding: 1rem;
}

.form--button {
  color: #61dafb;
  border-radius: 5px;
  background: rgb(12,69,80);
  background: linear-gradient(90deg, rgba(12,69,80,1) 0%, rgba(9,9,121,1) 35%, rgba(0,0,0,1) 100%);
  margin: 1rem;
  padding: 1rem;
}

.meme {
  position: relative;
}

.meme--image {
  margin: 1rem;
  
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 1rem;
}

.top {
  top: 1rem;
}
/* formulaire newsletter */
#form-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#okayToEmail{
  width: 2rem;
  height: 2rem;
 
}
label{
  font-size: 2rem;
}